@model Doctor
<h1>Update Doctor @Model.IdDoctor</h1>

<form method="post">
	<label>Id doctor</label>
	<input type="text" name="iddoctor" class="form-control" readonly/>
	<label>Apellido</label>
	<input type="text" name="apellido" class="form-control" />
	<label>Especialidad</label>
	<input type="text" name="especialidad" class="form-control" />
	<label>Salario</label>
	<input type="text" name="salario" class="form-control" />
	<label>Id doctor</label>
	<input type="text" name="idhospital" class="form-control"/>
	<button class="btn btn-success">Update</button>
</form>